*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-image:url(background.avif);
    background-size:cover;
    background-position:center;
}

#heading{
    color:lightcoral
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.calculator {
    width: 350px;
    margin: 100px auto;
    background-color:lightpink;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    margin-top: 5px;
    width: 330px;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color:mistyrose;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.button {
    background-color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #ddd;
}

.equal {
    background-color: #4CAF50;
    color: #fff;
}

.equal:hover {
    background-color: #3e8e41;
}

  
  